{% extends 'base/main.html'%} {% load static %} {% block content%}


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class='section header' id='div1' style="background:url('./static/images/2832944.jpg');background-size: cover; height: 100%;background-position: center;">
</div>


<link rel="stylesheet" href="{% static 'css/home_introduction.css' %}">
<div>
  <div class="hero2">
  <!--This feels like the wrong solution here :/ -->
  <fieldset class="hero2-text">
      <legend class="border-text">&nbsp; f1 in schools</legend>
  <h1>About The Competition</h1>
  <p>F1 in Schools is an international STEM competition for school children, in which groups of 3–6 students have to design and manufacture a miniature car out of the official F1 Model Block using CAD/CAM design tools</p>
  </fieldset></div>


</div>


<link rel="stylesheet" href="{% static 'css/home_list.css' %}">
<div class="section" style="height: 100vh;">


<div class="wrap">
  <div class="tile"> 

    <img src='{% static '/images/teamwork.jpeg' %}'/>
    <div class="text">
    <h1>TEAM COLABORATION</h1>
    <p class="animate-text">MANAGING THE WORKFORCE FOR THE PROJECT, THE TEAM MEMBERS, EMPHASISING TEAMWORK, ALLOWING ROOM FOR INNOVATING THINKING AND A HAND-IN-HAND EQUAL PARTICIPATION TO ACHIEVE THE DESIRED GOALS
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>
  <div class="tile"> 
    <img src='{% static '/images/projectmanagement.jpeg' %}'/>
    <div class="text">
    <h1>PROJECT MANAGEMENT</h1>
    <p class="animate-text">LEADING AND COORDINATING THE WORK OF THE TEAM TO ENSURE ALL PROJECT GOALS ARE MET WITHIN THE SET TIMEFRAME.
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>


  <div class="tile"> 

    <img src='{% static '/images/marketing.jpeg' %}'/>
    <div class="text">
    <h1>MARKETING AND ENTERPRISE</h1>
    <p class="animate-text">HELPING US STAND OUT BY PROMOTING OUR TEAM IDENTITY AND PROVIDING THE TEAM THE NECESSARY FUNDS ACCOMPLISH THE PROJECT GOALS.
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>
    
  <div class="tile"> 

    <img src='{% static '/images/design.jpg' %}'/>
    <div class="text">
    <h1>DESIGN AND ANALYSIS</h1>
    <p class="animate-text">INNOVATING VARIOUS CAR DESIGN CONCEPTS AND REPEATED TESTING AND ANALYSIS FOR THE BEST AERODYNAMICALLY EFFICIENT CAR TO COMPETE IN THE CHAMPIONSHIP.

</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>
    
    <div class="tile"> 

    <img src='{% static '/images/manufacturing.jpeg' %}'/>
    <div class="text">
    <h1>MANUFACTURING</h1>
    <p class="animate-text">MILLING THE CAR BODY PARTS USING COMPUTER AIDED MANUFACTURING AND ASSEMBLING THE CAR
 </p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>
</div>
  
  
</div>
  
</div>

{% endblock %}