{% extends 'base/main.html'%} {% load static %} {% block content%}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class='section header' id='div1' style="background:url('./static/images/Water.png');background-size: cover; height: 100%;background-position: center;">

<style>
body,h1 {font-family: "formulaone", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle" style="">

    
    <div class='logot' style="display: flex;">

    <h1 class="w3-animate-top main_head" style="text-align: center; font-size: 90px; font-family: formulaone;">TEAM ISTIOPHIX</h1>
    <img class='logo' src="{% static '/images/logo.png' %}" style="width: 250px">

    </div>

    <hr class="w3-border-grey" style="margin:auto;width:100%; margin-bottom: 40px;">
    <p class="w3-large w3-center" style="font-size: x-large !important;">Set Sail To New Horizons</p>
  </div>

</div>
</div>
<div>

<!-- Page content -->


<div>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/static/images/back2.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small" style="font-family: formulaone;">Who Are We?</span><br>
    <span class="w3-xxxlarge w3-hide-large w3-hide-medium" style="font-family: formulaone;">Who Are We?</span><br>
    <span class="w3-xxlarge" style="font-family: rogan-regular;">We are the F1 In Schools National Champions of 2021 Representing the UAE at the F1 in Schools World Championship in the United Kingdom</span>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>
<div style="display: flex; align-items: center;justify-content: center;">
<video width="100%" height="auto" controls>
  <source src="{% static '/video/f1.mp4' %}" type="video/mp4">
Your browser does not support the video tag.
</video>

</div>



<header class="bgimg-2 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white journey" style="padding:48px">
    <span class="w3-jumbo w3-hide-small" style="font-family: formulaone;">Our Journey</span><br>
    <span class="w3-xxxlarge w3-hide-large w3-hide-medium" style="font-family: formulaone;">Our Journey</span><br>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>



</div>

<div style="display: flex; align-items: center;justify-content: center;">
<video width="100%" height="auto" controls>
  <source src="{% static '/video/interview.mp4' %}" type="video/mp4">
Your browser does not support the video tag.
</video>

</div>

<!-- <div>


  <div style="height: 20vh ;display: flex; align-items: center; justify-content: center;">

  <h1>OUR ACHIEVEMENTS</h1>

  </div>

<div class="w3-row-padding w3-center w3-margin-top" style=" padding-bottom: 80px; height: 50vh; display: flex; align-items: center;">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>BEST PORTFOLIO AWARD</h3><br>
  <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>

  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>2nd FASTEST CAR</h3><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
 
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>RUNNERS UP  FOR THE BEST ENGINEERED CAR AWARD</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  
  </div>
</div>
</div>

</div> -->

<link rel="stylesheet" href="{% static 'css/home_introduction.css' %}">
<div>
  <div class="hero2">
  <!--This feels like the wrong solution here :/ -->
  <fieldset class="hero2-text">
      <legend class="border-text">&nbsp; f1 in schools</legend>
  <h1>About The Competition</h1>
  <p style="margin-top: 45px; ">F1 in Schools is an international STEM competition for school children, in which groups of 3–6 students have to design and manufacture a miniature car out of the official F1 Model Block using CAD/CAM design tools</p>
  </fieldset></div>


</div>


<link rel="stylesheet" href="{% static 'css/home_list.css' %}">
<div class="section" style="">


<div class="wrap">
  <div class="tile"> 

    <img src='{% static '/images/design.jpg' %}'/>
    <div class="text">
    <h1>DESIGN AND ANALYSIS</h1>
    <p class="animate-text">
      Innovating various car design concpets and repeated testing and analysis for the best aerodynamically efficient car to compete in the championship.

</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>


  <div class='tile'>
    <div class="tile"> 
    <img src='{% static '/images/manufacturing.jpeg' %}'/>
    <div class="text">
    <h1>MANUFACTURING</h1>
    <p class="animate-text">
      Milling the car body parts using computer aided manufacturing and assembling the car
 </p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>
</div>
  

    
  <div class="tile"> 

    <img src='{% static '/images/sustainable.jpeg' %}'/>
    <div class="text">
    <h1>SUSTAINABILITY</h1>
    <p class="animate-text">

      We incorporate various sustainable practices throughout our journey and ensure that all of our decisions are made after giving consideration to economic, environmental and social factors.
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>

 
  <div class="tile"> 

    <img src='{% static '/images/teamwork.jpeg' %}'/>
    <div class="text">
    <h1>TEAM COLLABORATION</h1>
    <p class="animate-text">
      Managing the workforce for the project, the team members, emphasising teamwork, allowing room for innovative thinking and a hand-in-hand equal participation to achieve the desired goals                                   
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>

  <div class="tile"> 

    <img src='{% static '/images/marketing.jpeg' %}'/>
    <div class="text">
    <h1>MARKETING AND ENTERPRISE</h1>
    <p class="animate-text">
      Helping us stand out by promoting out team idenity and providing the team the necessary funds to accomplish the project goals.
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>

  <div class="tile"> 
    <img src='{% static '/images/projectmanagement.jpeg' %}'/>
    <div class="text">
    <h1>PROJECT MANAGEMENT</h1>
    <p class="animate-text">
      Leading and coordinating the work of the team to ensure all project goals are met within the set timeframe.
</p>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
  </div>



    



   
  
  </div>
</div>
  
</div>

{% endblock %}